:root {
  /* Backgrounds */
  --panel-bg: #0f2a20;      /* near-black */
  --table-bg: #7b7328;      /* deep emerald */
  --active-row-bg: #4e522c; /* lighter emerald highlight */

  /* Text */
  --current-time: #ffe9a8;  /* mint green */
  --next: #ffe9a8;          /* soft gold */
  --timenums: #ffffff;
  --tabletext: #d8f5e6;

  /* Border */
  --border: #030000;
}
